.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 10vh;
    grid-gap: 20px;
    grid-template-areas: "header header" "aside main"; 
}

header {
    background-color: blue;
    grid-area: header
}

aside {
    grid-area: aside
}

main {
    grid-area: main
}