<div class="border">
    <form>
        <div>
            <h4>Curso</h4>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNome4">Nome:</label>
                <input type="nome" class="form-control" id="inputNome4">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
        <br>
        <br>
        <button type="submit" class="btn btn-primary" routerLink="/view2incluir">Incluir</button>
    </form>
</div>
